modules = ["java", "java-graalvm22.3"]
[nix]
channel = "stable-25_05"
packages = ["android-tools"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Android Build"
author = 44351760
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x gradlew"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew assembleDebug"

[[workflows.workflow]]
name = "Android Build"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew build"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true
